doctype html
html
	head
		include ./includes/pos-head
	body
		#global-loader
			.whirly-loader
		.main-wrapper.pos-five
			include ./includes/pos-header
			include ./includes/pos-sidebar
			main
				block content 

		include ./includes/pos-scripts