extends ../layout

block content
  .page-wrapper
    .content
      .row.mb-4
        .col-12
          h2 Inventory Dashboard
          p.text-muted Real-time stock overview of Gold and Silver
      


        //- Gold Stock
        .col-xxl-3.col-sm-6.col-12.d-flex
          .card.bg-warning.sale-widget.flex-fill.border-0
            .card-body.d-flex.align-items-center
              span.sale-icon.bg-white.text-warning.rounded-circle.p-3
                i.ti.ti-aperture.fs-24
              .ms-3
                h6.text-white.mb-1 Total Gold Stock
                h3.text-white.fw-bold= stats.goldStock + ' g'

        //- Silver Stock
        .col-xxl-3.col-sm-6.col-12.d-flex
          .card.bg-secondary.sale-widget.flex-fill.border-0
            .card-body.d-flex.align-items-center
              span.sale-icon.bg-white.text-secondary.rounded-circle.p-3
                i.ti.ti-brand-qq.fs-24
              .ms-3
                h6.text-white.mb-1 Total Silver Stock
                h3.text-white.fw-bold= stats.silverStock + ' g'
      
      //- Recent Activity or other widgets could go here
      
    .copyright-footer.d-flex.align-items-center.justify-content-between.border-top.bg-white.gap-3.flex-wrap.mt-5
        p.fs-13.text-gray-9.mb-0 2025-2026 © Jewellery CRM. All Right Reserved
