doctype html
html
	head
		include ./includes/prod-head
	body
		#global-loader
			.whirly-loader
		.main-wrapper.pos-five
			include ./includes/prod-header
			include ./includes/prod-sidebar
			main
				block content 

		include ./includes/prod-scripts